<h1>appointments</h1>

<div class="appointments">

  <div class="appointment" ng-repeat="appointment in appointments.list">
    <div class="appointment__client">{{appointment.client}}</div>
    <div class="appointment__phone">{{appointment.phone | phoneNumber}}</div>
  </div>

  <div class="appointment">

    <div class="appointment__client">

      <label> Client
        <input type="text" ng-model="appointments.newAppointmentClient">
      </label>

      <button ng-disabled="!appointments.newAppointmentClient" ng-click="appointments.create()">
        Add
      </button>

    </div>

  </div>
</div>
