<h1>appointments</h1>

<div class="appointments">
  <div class="appointment" ng-repeat="appointment in appointments.list">
    <div class="appointment__client">{{appointment.client}}</div>
  </div>
</div>

<form name="newAppointmentForm">

  <div class="form-group">
    <label for="client"></label>
    <input id="client" type="text"
           class="form-control"
           ng-model="appointments.newAppointment.client"
    >
  </div>

  <button class="btn btn-primary"
          ng-click="appointments.add()">
    Save
  </button>
</form>
